* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #eaecf8;
  }
  header{
    background-color: #3a5ae7;
    height: 100px;
    border-radius: 0 0 10px 10px;
  }
  .pfp{
    width: 3%;
    height: 65%;
    margin-top: 20px;
  margin-left: 1830px;
  }
  .custom-navbar {
margin-top: -70px;
margin-left: 1100px;
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 1.9rem !important;
  }
  

  .custom-navbar .navbar-nav .nav-link {
    margin-right: 100px; 
  }
  
  .custom-navbar .nav-link:hover,
  .custom-navbar .nav-link:focus {
    color: #3f1c01 !important;
  }


  footer {
    background: linear-gradient(to top, #2b45da, #0c1db6);
    text-align: center;
    color: #f6f6f6;
    width: 100%;
    height: 550px;
    border-radius: 0px 15px 0 0;
    margin-top: -150px;
  }

footer .r-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
}

footer .r-linha-item{
    width: 300px;
    justify-content: center;
}

.rede-social{
    display: flex;
    flex-direction: row; 
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.youtube{
    scale: 2;
    align-items: center;
}

.instagram{
    scale: 2;
    align-items: center;
}
.ftxt{
  font-weight: bold;
  font-size: 22px;
}